.menu{

    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 40px 0px 0px;
    grid-template-rows: 20px;
    grid-row-gap: 5px;
    


    button{
        border: none;
        color: white;
        background-color: black;
        border: 1px solid black;
        height: 20px;
    

        &.compose{
          background-color: rgba(100,100,100,0.5);
          font-weight: 900;
          font-size: 16px;
        }

        

        &:hover, &.active{
        background-color: white;
        color: black; 
        border: 1px solid black; 
        }
    }

}
